<h1>
    Data view
</h1>
<h5>View weather data from the past 24 hours.</h5>
<div id="allCats" >
    <div *ngFor="let category of categories" id="cat{{category.name}}" class="catView">
        <h2>{{category.name}}</h2>
        <div style="overflow:hidden;" *ngIf="checkDefined(category.name)">

            <ul *ngIf="cateogriesObj[category.name].children.length" class="chartSelection">
                Select Unit(s): 
                <li *ngFor="let subcat of cateogriesObj[category.name].children; let idx = index;">
                    <input type="radio" name="subCat{{category.name}}" [checked]="(idx === 0)" [value]="subcat" (change)="chartSelect(category.name, subcat)"> {{subcat}}
                </li>
            </ul>
            <ng-dygraphs
                [data]="dyCategoryData[category.name]"
                [options]="{width: 'auto', animatedZooms: true, pointSize: 4, labels:['Time', category.name], xlabel:'Time', ylabel:category.name}">
            </ng-dygraphs>  
        </div>
        <div *ngIf="!checkDefined(category.name)">
            <h4>Loading...</h4>
        </div>
    </div>
</div>  