<h1>
    Data view
</h1>
<h5>View weather data from the past 24 hours.</h5>
<div id="allCats" >
    <div *ngFor="let category of categories" id="cat{{category.name}}" class="catView">
        <h2>{{category.name}}</h2>
        <div style="height:400px; overflow:hidden;" *ngIf="checkDefined(category.name)">
                <ngx-charts-line-chart
                    [results]="categoryData[category.name]"
                    [gradient]="gradient"
                    [legend]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [autoScale]="true"
                    (select)="dataSelect($event, category.name)">
                </ngx-charts-line-chart>
        </div>
        <div *ngIf="!checkDefined(category.name)">
            <h4>Loading...</h4>
        </div>
    </div>
</div>  