div.catView{
    float:right;
    right: 20px;
    width: 180px;
    height: 160px;
    border: 3px solid #73AD21;
    border-style: outset;
    padding: 10px;
    min-block-size: 50px;
}

.Cateblock{
    float: left;
}

.indata{
    float: left;
}

.units{
    size: 1px;
    font-size: smaller;
    align-content: flex-start;
    float: left;
    
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 1px 2px;
    cursor: pointer;
}
.ops{
    border:none;
    position: relative;
    
    left:30px;
}
.separate{
    align-self: auto;
    position: relative;
    border: none;
    float: left;
}

.display{
    float:left;
    max-width: 200px;
    max-height: 180px;
}

.Hori{
    align-self: horizontal;
    position: relative;
}

.sizing{
    float: right;
    align-content: flex-start;
}



