
        <div id="data_align">
        <div id="radar">
            {{Winddirsp()}}
            <div style="display: block" *ngIf="display">
                  <canvas baseChart
                    [datasets]="radarChartData"
                    [labels]="radarChartLabels"
                    [chartType]="radarChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
            </div>
          


        </div>
      </div>
