
.radar{
    float: left;
    max-width: 500px;
    max-height: 500px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 1px 2px;
    cursor: pointer;
    left: 30px;
    size: 60px;
}

.data_align{
    float:left;
    *display: inline; 
    zoom: 1; 
    vertical-align: top; 
    glyph-orientation-horizontal: initial;
    font-size: 12px;
    
}