/* You can add global styles to this file, and also import other style files */
@media (min-width: 768px){
    .navbar {
        border-radius: 0;
    }
}

.navbar{
    margin-bottom:0px;
}

span.legend-title-text {
    display: none !important;
}

header.legend-title.ng-star-inserted::after {
    content: "Unit(s)";
}